.search-customer button.cds--definition-term {
    align-items: center;
}

.search-customer .cds--structured-list-td {
    vertical-align: middle;
}

.search-customer .cds--structured-list-td svg {
    margin: 0 .5rem;
}

.search-customer button.cds--definition-term {
    border: none;
}

.search-customer button.cds--definition-term {
    border: none;
}

.search-customer .cds--structured-list-td {
    text-align: auto;
}

